{{ define "head" }}
    <meta
    name="keywords"
    content="Hackathon, Vercera, Hackathon Aligarh, ZHCET, Aligarh Muslim University, Coding, AMU, AMURoboclub"
    />

    <meta name="title" content="Vercera" />
    <meta
    name="description"
    content="Vercera landing page of AMURoboclub, ZHCET, Aligarh Muslim University"
    />
    <meta name="author" href="" content="" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vercera2024.netlify.app/" />
    <meta property="og:site_name" content="Vercera | AMURoboclub" />
    <meta property="og:title" content="Vercera | AMURoboclub" />
    <meta
    property="og:description"
    content="Hackathon Landing Page of ZHCET, Aligarh Muslim University"
    />
    <meta
    property="og:image"
    itemprop="image"
    content="https://     **** /logo.png"
    />
    
<!-- <meta name="description" content={{ .Site.Params.description }}> -->


<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/index.css" media="all">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/projects.css" media="all">

<!-- fontawesome -->
<script defer src="{{ .Site.Params.staticPath }}/fontawesome-6/all-6.4.2.js"></script>
{{ end }}

{{ define "title" }}
{{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{- partial "sections/hero/index.html" . -}}
{{- partial "sections/about.html" . -}}
{{- partial "sections/experience.html" . -}}
{{- partial "sections/education.html" . -}}
{{- partial "sections/projects.html" . -}}
{{- partial "sections/achievements.html" . -}}
{{- partial "sections/contact.html" . -}}
{{ end }}